@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap');

*{
    font-family: 'Nunito Sans', sans-serif;
}

/* antd overide */
input{
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.521) !important;
    height: 40px !important;
}

input:focus ,.ant-picker{
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid gray !important;
}

label{
    font-size: 16px;
    color: black;
}

.ant-form-item{
    margin: 10px 0 !important;
}

.ant-picker-input input{
    border: none !important;
}

.ant-picker{
    height: 40px !important;
    border-radius: 2px !important;
    border: 1px solid rgba(128, 128, 128, 0.521) !important;
}


/* common style */
.spin-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.603);
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.page-title{
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.card-title{
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.708);
}

.normal-text{
    font-size: 1rem;
}

.card{
    box-shadow: 0 0 2px gray;
    border-radius: 0 !important;
}

.primary-button{
    background-color: rgb(17, 107, 98) !important;
    height: 40px;
    width: 100%;
    color: white !important;
    font-size: 16px !important;
    width: max-content !important;
}

.anchor{
    color: rgb(17, 17, 17) !important;
    font-size: 12px !important;
    text-decoration: none !important;
    cursor: pointer;
}

.anchor:hover{
    text-decoration: underline !important;
}

/* authentication pages */
.authentication{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 107, 98);
}

.authform{
    width: 400px;
}

.authentication .card-title{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: orangered;
    color: white !important;
    max-width: max-content !important;
    padding: 7px 15px;
    margin-left: -40px;
    border-bottom-left-radius: 10px;
}